<?xml version="1.0"?>
<configuration>
    <appSettings>
        <add key="CHARGIFY_API_KEY" value="key_here"/>
        <add key="CHARGIFY_API_PASSWORD" value="X"/>
        <add key="CHARGIFY_URL" value="https://subdomain.chargify.com/"/>
    </appSettings>
    <startup>
        <supportedRuntime version="v2.0.50727"/>
    </startup>
</configuration>
