<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="chargify" type="Chargify.Configuration.ChargifyAccountRetrieverSection, Chargify"/>
    </configSections>
    <!-- Chargify Settings Here, set useJSON="true" to use json over xml -->
    <chargify defaultAccount="TestAccount">
        <accounts>
            <!-- The following account info needs to be customized to your own information -->
            <add name="TestAccount" subdomain="somedomain" apiKey="somekey" apiPassword="X" useJson="false" />
        </accounts>
    </chargify>
</configuration>