@model ChargifyNET.Subscription

@if (ViewBag.HasSubscription)
{
    <table class="full">
        <thead>
            <tr><th scope="col" colspan="2">Account Details</th></tr>
        </thead>
        <tr>
            <td align="right">Plan:</td>
            <td align="left">@Model.Product.Name</td>
        </tr> 
        <tr>
            <td align="right">Price:</td>
            <td align="left">
                $@Model.Product.Price Every<br />
                @Model.Product.Interval @Model.Product.IntervalUnit
            </td>
        </tr> 
        <tr>
            <td align="right">Current Balance:</td>
            <td align="left">$@Model.Balance.ToString("0.00")</td>
        </tr>
        <tr>
            <td align="right">Next Payment Date:</td>
            <td align="left">@Model.NextAssessmentAt.ToShortDateString()</td>
        </tr>
    </table>
}