@model ChargifyNET.Subscription
           
@{
    ViewBag.Title = "Dashboard";
}

@section head {}
@section menu {
    <div class="hlist">
	    <ul>
		    <li>@Html.ActionLink("Logout", "LogOff", "Account")</li>
		    <li class="active"><strong>Dashboard</strong></li>
		    <li>@Html.ActionLink("Settings", "Settings", "Site")</li>
            <li>@Html.ActionLink("Statistics", "Stats", "Site")</li>
	    </ul>
    </div>
}
@section leftContent {
    @Html.Partial("_SubscriptionInfo", Model)
}

@if (ViewBag.HasSubscription)
{
    <text>There's a valid subscription.</text>
}