@{
    ViewBag.Title = "Settings";
}

@section head {}
@section menu {
    <div class="hlist">
	    <ul>
		    <li>@Html.ActionLink("Logout", "LogOff", "Account")</li>
		    <li>@Html.ActionLink("Dashboard", "Index", "Site")</li>
		    <li class="active"><strong>Settings</strong></li>
            <li>@Html.ActionLink("Statistics", "Stats", "Site")</li>
	    </ul>
    </div>
}
@section leftContent {}

<h2>Settings</h2>

