<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="chargify" type="ChargifyDotNet.Configuration.ChargifyConfigSection, ChargifyDotNet" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <chargify defaultAccount="main" useJSON="false">
    <accounts>
      <add name="main" site="https://subdomain.chargify.com/" apiKey="YOUR_API_KEY" apiPassword="X" sharedKey="YOUR_SHARED_KEY" cvvRequired="true" />
    </accounts>
  </chargify>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
